apiVersion: v1
kind: Secret
metadata:
  name: {{ include "dhis2-core-helm.fullname" . }}
  labels:
    {{- include "dhis2-core-helm.labels" . | nindent 4 }}
type: Opaque
data:
  USERNAME: {{ .Values.jobs.authentication.dhis2.username | b64enc }}
  PASSWORD: {{ .Values.jobs.authentication.dhis2.password | b64enc }}
  DB_HOSTNAME: {{ .Values.database.hostname | b64enc }}
  DB_DATABASE: {{ .Values.database.database | b64enc }}
{{- if .Values.database.existingSecret }}
{{- if not .Values.database.secretKeys.username }}
  DB_USERNAME: {{ .Values.database.username | b64enc }}
{{- end }}
{{- else }}
  DB_USERNAME: {{ .Values.database.username | b64enc }}
  DB_PASSWORD: {{ .Values.database.password | b64enc }}
{{- end }}
{{- if hasKey .Values "minIO" }}
  MINIO_PROVIDER: {{ .Values.minIO.provider | b64enc }}
  MINIO_CONTAINER: {{ .Values.minIO.container | b64enc }}
  MINIO_ENDPOINT: {{ .Values.minIO.endpoint | b64enc }}
  MINIO_LOCATION: {{ .Values.minIO.location | b64enc }}
  MINIO_IDENTITY: {{ .Values.minIO.identity | b64enc }}
  MINIO_SECRET: {{ .Values.minIO.secret | b64enc }}
{{- end }}
{{- if hasKey .Values "S3" }}
  S3_PROVIDER: {{ .Values.S3.provider | b64enc }}
  S3_CONTAINER: {{ .Values.S3.container | b64enc }}
  S3_ENDPOINT: {{ .Values.S3.endpoint | b64enc }}
  S3_LOCATION: {{ .Values.S3.location | b64enc }}
  S3_IDENTITY: {{ .Values.S3.identity | b64enc }}
  S3_SECRET: {{ .Values.S3.secret | b64enc }}
{{- end }}
{{- if .Values.googleAuth.projectId }}
  dhis-google-auth.json: |
    {{ dict
      "type" "service_account"
      "project_id" .Values.googleAuth.projectId
      "private_key_id" .Values.googleAuth.privateKeyId
      "private_key" .Values.googleAuth.privateKey
      "client_email" .Values.googleAuth.clientEmail
      "client_id" .Values.googleAuth.clientId
      "auth_uri" "https://accounts.google.com/o/oauth2/auth"
      "token_uri" "https://oauth2.googleapis.com/token"
      "auth_provider_x509_cert_url" "https://www.googleapis.com/oauth2/v1/certs"
      "client_x509_cert_url" "https://www.googleapis.com/robot/v1/metadata/x509/dhis2-demo%40dhis2-gis.iam.gserviceaccount.com"
      | toJson | b64enc | nindent 4 }}
{{- end }}
